site_name: XRIML Wiki
site_description: XR Immersive Media Lab Documentation
site_author: CAMD - Northeastern University
site_url: https://zbghost325.github.io/XRIML-Wiki/

theme:
  name: material
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link

nav:
  - Home: index.md

plugins:
  - search

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true

extra_css:
