:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #C8102E !important;
  --md-primary-fg-color--light: #D64550 !important;
  --md-primary-fg-color--dark: #A00D24 !important;
  --md-accent-fg-color: #A4804A !important;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #C8102E !important;
  --md-accent-fg-color: #A4804A !important;
}

.md-header {
  background-color: #C8102E !important;
}
